html {
  overflow: hidden;
  cursor: url("./resources/magnet.png"), auto;
}
body {
  margin: 0;
}
canvas {
  border: 1px solid black;
}

video {
  display: none;
}

#video {
  height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: center;
}
